[Unit]
Description=Run service_watchdog every 10 minutes

[Timer]
OnBootSec=6min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
